body {
    background-color: #fff;
}
li {
    list-style: none;
}
/*浮动*/
.fl {
    float: left;
}
.fr {
    float: right;
}
/*清除浮动*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
/*文本超出 一行显示...*/
.text-overflow-dotted-1line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*文本超出 两行显示...*/
.text-overflow-dotted-2line {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.tmpl {
    margin-bottom: 50px;/*底部的tab-bar占位置了*/
}

/*vue-preview渲染出来的结构样式*/
.photoDetail-preview {
    padding: 0 10px;
}
.photoDetail-preview .my-gallery {
    width: 100%;
    overflow: hidden;
}
.photoDetail-preview .my-gallery figure {
    width: 31.3%;
    float: left;
    margin: 0 10px 10px 0;
}
.photoDetail-preview .my-gallery figure:nth-child(3n) {
    margin-right: 0;
}
.photoDetail-preview .my-gallery figure img {
    width: 100%;
    height: 80px;
    vertical-align: middle;
}