body {
    background-color: #fff;
}
/*浮动*/
.fl {
    float: left;
}
.fr {
    float: right;
}
/*清除浮动*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
/*文本超出 一行显示...*/
.text-overflow-dotted-1line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*文本超出 两行显示...*/
.text-overflow-dotted-2line {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.tmpl {
    margin-bottom: 50px;/*底部的tab-bar占位置了*/
}